<ion-header>   
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="full">
  <ion-item *ngFor="let m of movies" class="movies-list">
    <img [src]="m.Poster" class="movie-poster" onError="this.src='./assets/imgs/noimg.jpg'">
    <div class="movie-detail">
        <div class="movie-title">{{m.Title}}({{m.Year}})</div>
        <div class="movie-type">{{m.Type}}</div>       
    </div>
  </ion-item>
</ion-list>
</ion-content>
